<section *ngIf="pokemonDetails">
        <nz-card class="detail-item" nz-col 
        [nzXs]="{ span: 24 }" 
        [nzSm]="{ span: 12 }" 
        [nzMd]="{ span: 8 }" 
        [nzLg]="{ span: 6 }" 
        [nzXl]="{ span: 6 }" 
        [nzCover]="coverTemplate" 
        [nzActions]="[actionSave]">
    <h3 nz-typography class="text-center">{{pokemonDetails.name}}</h3>
        <div class="mb-16">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Weight:</nz-form-label>
                <nz-form-control [nzSpan]="12">
                  <nz-input-number name="weight" [(ngModel)]="pokemonDetails.weight" [nzStep]="1"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Height:</nz-form-label>
                <nz-form-control [nzSpan]="12">
                  <nz-input-number name="height" [(ngModel)]="pokemonDetails.height"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="mb-16">
            <h5 nz-typography>Abilities:</h5>
            <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let item of pokemonDetails.abilities">
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                          <a (click)="deleteAbilityItem(item.ability.name)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
                        </nz-list-item-action>
                      </ul>
                    {{item.ability.name}}
                </nz-list-item>
            </nz-list>
        </div>
        <div>
            <h5 nz-typography>Moves:</h5>
            <nz-list nzBordered nzSize="small" class="moves-wrap">
                <nz-list-item *ngFor="let item of pokemonDetails.moves">
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                          <a (click)="deleteMoveItem(item.move.name)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
                        </nz-list-item-action>
                      </ul>
                    {{item.move.name}}
                </nz-list-item>
            </nz-list>
        </div>
    </nz-card>
    <ng-template #coverTemplate>
        <img alt="example" src="{{pokemonDetails.sprites.front_default}}"  />
    </ng-template>
    <ng-template #actionSave>
        <button nz-button nzType="primary" (click)="saveUpdatedData()">Save changes</button>
    </ng-template>
</section>
