<section *ngIf="pokemonDetails$ | async as pokemonDetails">
    <nz-card nz-col 
        [nzXs]="{ span: 24 }" 
        [nzSm]="{ span: 12 }" 
        [nzMd]="{ span: 8 }" 
        [nzLg]="{ span: 6 }" 
        [nzXl]="{ span: 6 }" 
        class="detail-item" 
        [nzCover]="coverTemplate" 
        [nzActions]="[actionEdit]">
        <h3 nz-typography class="text-center">{{pokemonDetails.name}}</h3>
        <div class="mb-16">
            <h5 nz-typography class="m-0">Weight: <span class="item-size">{{pokemonDetails?.weight}}</span></h5>
            <h5 nz-typography class="m-0">Height: <span class="item-size">{{pokemonDetails?.height}}</span></h5>
        </div>
        <div class="mb-16">
            <h5 nz-typography>Abilities:</h5>
            <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let item of pokemonDetails?.abilities">
                    {{item.ability.name}}
                </nz-list-item>
            </nz-list>
        </div>
        <div>
            <h5 nz-typography>Moves:</h5>
            <nz-list nzBordered nzSize="small" class="moves-wrap">
                <nz-list-item *ngFor="let item of pokemonDetails?.moves">
                    {{item.move.name}}
                </nz-list-item>
            </nz-list>
        </div>
    </nz-card>
    <ng-template #coverTemplate>
        <img alt="example" src="{{pokemonDetails?.sprites?.front_default}}" />
    </ng-template>
    <ng-template #actionEdit>
        <a [routerLink]="['/pokemons/edit', pokemonName]"><span nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit Pokemon"></span></a>
    </ng-template>

</section>
<div *ngIf="error$ | async as errorMessage">
    {{errorMessage}}
</div>