@import 'src/styles/variables';
html, body { height: 100%; }

.text-center{
    text-align: center;
}

.d-flex {
    display: flex;
}

.ant-layout{
    background-color: $white;
}

.ant-layout-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-item{
    .ant-card-cover {
        display: flex;
        justify-content: center;
    }
    .ant-card-cover > img{
        width: auto;
    }
}

