@import 'src/styles/variables';
@import './styles/common.scss';

html, body { height: 100%; }

.ant-layout{
    background-color: $white;
}

.ant-layout-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.detail-item{
    .ant-card-cover {
        display: flex;
        justify-content: center;
    }
    .ant-card-cover > img{
        width: auto;
    }
}

